.bg {
  background-color: #1c1c1c;
}

.bg-green {
  background-color: #00ac00;
}

.bg-red {
  background-color: #ac0000;
}

@font-face {
  font-family: "Bedstead";
  src: url("/bedstead.regular.otf");
}

.text {
  color: #ccc;
  text-decoration: none;
}

body {
  font-family: "Bedstead", sans-serif;
}

a {
  color: #ccc;
  text-decoration: none;
}

.border-1 {
  border: 0.25em solid #3c3c3c;
}

.border-b-1 {
  border-bottom: 0.25em solid #3c3c3c;
}

.rounded {
  border-radius: 0.375em;
}

.ptr {
  cursor: pointer;
}

.px-2 {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.py-2 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.py-0-5 {
  padding-top: 0.125em;
  padding-bottom: 0.125em;
}

.mx-2 {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

mb-auto {
  margin-bottom: auto;
}

mx-auto {
  margin-left: auto;
  margin-right: auto;
}

w-full {
  width: 100%;
}

h-full {
  height: 100%;
}

max-w-screen-xl {
  max-width: 80rem;
}

.flex {
  display: flex;
}

.br-red {
  border: 0.25em solid #ac0000;
}

.tr:hover {
  background-color: #6c6c6c;
}

.justify-center {
  justify-content: center;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
}
